@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    counter-reset: #222;
}
ul, ol{
    list-style: none;
}
img{
    vertical-align: top;
    border: 0;
}
a{
    text-decoration: none;
}
#wrap{
    width: 100%;
    min-width: 1200px;
}
#header{
    width: 100%;
    position: relative;
    background-color: #023586;
    height: 90px;
    padding: 10px 0;
    margin-bottom: 80px;
}
.headerIn{
    position: relative;
    width: 1200px;
    height: 90px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}
.headerIn .logo{
    position: absolute;
    top: 36.5px;
    left: 50%;
    margin-left: -125px;
    object-fit: cover;
}
.headerIn .ML li a span{
    position: relative;
}
.headerIn .ML li a span::after{
    display: block;
    content:"";
    position:absolute;
    top:300%;
    left:-60%;
    transform:translateX(50%);
    width:0%;
    height:3px;
    background-color:#fff;
    transition:width 0.3s;
}
.headerIn .ML li:hover a span::after{
    display: block;
    width: 110%;
    line-height: 20px;
}
.headerIn .MR li a span{
    position: relative;
}
.headerIn .MR li a span::after{
    display: block;
    content:"";
    position:absolute;
    top:300%;
    left:-60%;
    transform:translateX(50%);
    width:0%;
    height:3px;
    background-color:#fff;
    transition:width 0.3s;
}
.headerIn .MR li:hover a span::after{
    display: block;
    width: 110%;
    line-height: 20px;
}

/* 로고 완성!!! */

.headerIn a{
    color: #fff;
    font-size: 14px;
}
.MenuLeft ul{
    display: flex;
    position: absolute;
    top: 36.5px;
    left: 0;
}
.MenuLeft li{
    margin-right: 25px;
}

.MenuRight ul{
    display: flex;
    position: absolute;
    top: 36.5px;
    right: 0;
}
.MenuRight li{
    margin-left: 25px;
}
.Guide ul{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}
.Guide li{
    margin: 0 5px;
}
.Guide .g1::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #aaa;
    margin-left: 10px;
}

    /* 헤더 gnb 완성!!! */

    .header-clone{
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: -110px;
        left: 0;
        width: 100%;
        height: 90px;
        transition: top 0.3s;
        padding: 10px 0;
        box-sizing: content-box;
    }
    
    .header-clone>.headerIn{
        width: 1200px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .header-clone>.headerIn .ML li a span{
        position: relative;
    }
    .header-clone>.headerIn .ML li a span::after{
        display: block;
        content:"";
        position:absolute;
        top:300%;
        left:-60%;
        transform:translateX(50%);
        width:0%;
        height:3px;
        background-color:#023586;
        transition:width 0.3s;
    }
    .header-clone>.headerIn .ML li:hover a span::after{
        display: block;
        width: 110%;
        line-height: 20px;
    }
    
    .header-clone>.headerIn .MR li a span{
        position: relative;
    }
    .header-clone>.headerIn .MR li a span::after{
        display: block;
        content:"";
        position:absolute;
        top:300%;
        left:-60%;
        transform:translateX(50%);
        width:0%;
        height:3px;
        background-color:#023586;
        transition:width 0.3s;
    }
    .header-clone>.headerIn .MR li:hover a span::after{
        display: block;
        width: 110%;
        line-height: 20px;
    }
    
    
    .header-clone nav{
        line-height: 20px;
    }
    
    .header-clone nav a{
        font-weight: 500;
        color: #023586;
    }
    
    .header-clone.visible{
        top: 0;
    }
    
    .header-clone.visible .logo {
        width: 250px;
        height: 17px;
        z-index:200;
        position: absolute;
        top: 36.5px;
        left: 50%;
        margin-left: -125px;
        object-fit: cover;
    }
    .header-clone.visible .MR li:last-child{
        background-image: url(../img/icons8-search-24-clone.png);
    }
    
    /* 스크롤 헤더 부분 끝*/
    
.row{
    width: 1200px;
    /* height: 600px; */
    margin: 0 auto;
    padding: 60px 0;
    text-align: start;
    box-sizing: border-box;
}
.row img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.row p{
    font-size: 14px;
}
.row h2{
    margin-left: 30px;
    margin-bottom: 30px;
}
.area1-1 h2{
    font-size: 36px;
    color: #222;
    margin-bottom: 30px;
    text-align: center;
}
.area1-1 p{
    color: #888;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #023586;
}
.area1-1 ul{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.area1-1 li{
    margin: 15px 15px 0 15px;
}
.area1-1 li a{
    display: inline-block;
    color: #023586;
    font-size: 20px;
    border: 1px solid #023586;
    border-radius: 10px;
    padding: 5px 10px;
}
.area1-1 li a:hover{
    display: inline-block;
    transition: all .0s ease;
    color: #fff;
    background:#023586;
}
.area2-1{
    position: relative;
}
.area2-1 ul{
    display: flex;
    justify-content: center;
}
.area2-1 li{
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 100px;
    font-size: 16px;
}
.area2-1 li a{
    color: #555;
}
.area2-1 ul li::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #888;
    margin-left: 15px;
}
.area2-1 ul li:last-child::after{
    content: "";
    display: none;
}
.area2-1 span a{
    position: absolute;
    top: 70px;
    right: 0;
    font-size: 14px;
    color: #222;
    border-bottom: 2px solid #222;
    font-weight: 700;
}
.area2-1 li a:hover{
    color: #023586;
}

.review1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.review1 p{
    margin-left: 30px;
    margin-right: 50px;
    line-height: 25px;
}

.reviewTxt{
    width: 300px;
}

.reviewTop{
    margin-bottom: 30px;
}

.reviewT{
    margin-bottom: 20px;
}

.star_rating{
    font-size:0; letter-spacing:-4px;
}
.star_rating span{
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}

.star_rating span:first-child{
    margin-left:0;
}

.star_rating span.on{
    color:rgb(243, 243, 11);
}

.review2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.review2 p{
    margin-left: 30px;
    margin-right: 50px;
    line-height: 25px;
}

#footer{
    width: 100%;
    height: 432px;
    background-color: #454a56;
}
.footerIn{
    width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    position: relative;
    /* justify-content: space-between; */
}
.footerIn h3{
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
}
.footerIn p{
    color: #fff;
}
.footerIn a{
    color: #fff;
    font-size: 14px;
}
.footerIn a:hover{
    text-decoration: underline;
}
.ft_left{
    display: flex;
}
.footerIn li{
    margin-bottom: 10px;
}
.Contact_Us{
    margin-left: 100px;
}
.Contact_Us .point{
    font-size: 10px;
}
.Notice{
    margin-left: 100px;
}
.Notice li{
    display: flex;
    justify-content: space-between;
}
.NoticeIn li h3{
    margin-bottom: 20px;
}
.Notice span{
    color: #aaa;
    margin-left: 50px;
}
.NoticeIn ul{
    display: flex;
    justify-content: space-between;
}
.NoticeIn .more a{
    font-size: 10px;
    color: #fff;
    opacity: 0.8;
}
.ft_sns{
    margin-left: 100px;
}
.ft_sns h3{
    margin-bottom: 30px;
}
.ft_sns ul{
    display: flex;
}
.ft_sns li{
    margin-right: 15px;
}
.ft_sns a{
    display: block;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 50%;
    text-indent: -9999px;
}
.ft_yt a{
    background-image: url(../img/ft_youtube.svg);
    background-size: 60% auto;
}
.ft_ins a{
    background-image: url(../img/ft_instagram.svg);
    background-size: 50% auto;
}
.ft_fb a{
    background-image: url(../img/ft_facebook.svg);
    background-size: 30% auto;
}
.ft_right p{
    margin: 30px 0px 0px 100px;
    border: 1px solid #888;
    border-radius: 5px;
}
.ft_right p a{
    display: block;
    padding: 10px;
}
.bs a:hover{
    text-decoration: none;
}
.bs{
    position: relative;
}
.ft_bs a{
    display: block;
    width: 11px;
    height: 11px;
    background-image: url(../img/ico_drop.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-size: 100%;
    position: absolute;
    bottom: 13px;
    right: 20px;
}
.ft_bt{
    position: absolute;
    bottom: -70px;
    left: 0;
}
.ft_bt a:hover{
    text-decoration: none;
}
.ft_bt ul{
    display: flex;
}
.ft_bt li{
    margin-right: 10px;
}
.ft_bt li::after{
    display: inline-block;
    content: "";
    vertical-align: top;
    margin-top: 7px;
    width: 1px;
    height: 10px;
    background-color: #888;
    margin-left: 10px;
}
.ft_bt li:last-child::after{
    display: none;
}
.ft_bt li a{
    font-size: 11px;
}
.ft_bt .on a{
    color: #023586;
    font-weight: 700;
}
.ft_bt p{
    font-size: 11px;
    color: #888;
}
.ft_img{
    position: absolute;
    bottom: -80px;
    right: 50px;
}
.ft_img a{
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-size: 100% auto;
}
.ft_img ul{
    display: flex;
}
.ft_img li{
    margin-right: 10px;

}
.spc a{
    width: 100px;
    height: 40px;
    background-image: url(../img/ft_1.png);
}
.ccm a{
    width: 40px;
    height: 40px;
    background-image: url(../img/ft_2.png);

}
.ncsi a{
    width: 40px;
    height: 40px;
    background-image: url(../img/ft_3.png);

}
.kcsi a{
    width: 40px;
    height: 40px;
    background-image: url(../img/ft_4.png);

}
.ks-sqi a{
    width: 40px;
    height: 40px;
    background-image: url(../img/ft_5.png);
}
.nbci a{
    width: 40px;
    height: 40px;
    background-image: url(../img/ft_6.png);
}
.top{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.top a{
    display: block;
    text-align: center;
    /* line-height: 60px; */
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #023586;
    background-image: url(../img/top_button.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

    /* 푸터 완성!!! */